<% var name = 'my third ejs'; %>
<h1><%= name %></h1>

<hr>
<table border="1" width="800">
    <% for(var j = 2; j < 10; j++) {%>
        <tr>
            <% for(var i = 1; i < 10; i++) {%>
            <td>
                <%= j%> X <%= i%> =<%= j*i%>
            </td>
            <% } %>
        </tr>
        <% } %>
</table>