<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<body>
    <h1>list page</h1>
    <table border = '1'>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <!-- <th>Model</th> -->
            <!-- <th>Series</th> -->
        </tr>
        <tbody>
            <% data.forEach(function (item,index){ %>
                <tr>
                    <td>
                        <%= item.id %>
                    </td>
                    <td>
                        <a href='/detail/<%= item.id %>'><%= item.name %></a>
                    </td>
                    <td>
                        <%= item.modelnumber %>        
                    </td>
                    <td>
                        <%= item.series %>
                    </td>
                </tr>
            <% })%>
        </tbody>

    </table>
</body>
</html>

<!--         <% for(let i in content){%>
            <tr>
                <% let obj = content[i]; %>
                <td>
                    <%= obj.id%>
                </td>
                <td>
                    <%= obj.name%>
                </td>
            </tr>
            <%}%> -->