#footer{
    width: 100%;
    height: 160px;
    background-color: white;
    border-top: 1px solid #EAEAEA;
    text-align: center;
    /* margin-top: 200px; */
}

#footer .wrap-footer{
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

#footer .wrap-footer ul li{
    line-height: 200%;
}

#footer .wrap-footer #footer-logo{
    padding-top: 20px;
    height: 80px;
    float: right;
}