*{
    text-align: center;
    font-family: 'EarlyFontDiary';
    font-size: large;
}
.memo{
    display: inline-block;
    text-align: center;
    /* border: 1px solid aquamarine; */
    width: fit-content;
    height: auto;
    background-color: yellow;
}
button{
    border: 0;
    width: 100px;
    height: 30px;
    cursor: pointer;
    /* padding: 10px; */
}
#save{
    background-color: green;
}
#reset{
    background-color: red;
}
input{
    border: 0;
}
textarea{
    border: 0;
    text-align: left;
}
.input_title{
    width: 220px;
}